<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>New Chat...</h3>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are You?"><br>
        <textarea name="msg" >Write your Mesg here</textarea><br>
        <input type="text" name="to" placeholder="Add receiver"><br>
        <button>Crate Chat</button>

    </form>

</body>
</html>