<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding user</title>
</head>
<body>
    <form action="/user" method="post">
        <input type="name" placeholder="Enter your username" name="username" ><br>
        <input type="email" placeholder="Enter your email" name="email"><br>
        <input type="password" placeholder="Enter your password" name="password"><br>
        <button>
            submit
        </button>
    </form>
</body>
</html>